/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #3f7afd;
  --secondary-color: #3f7afd;
  --grey: #8e8f97;
  --bg-light-grey: #f5f7fc;
}

/* Flex Box */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}

.m-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-2 {
  margin-top: 2rem;
}

.text-sm {
  font-size: 14px;
}
.text-xs {
  font-size: 12px;
}
.spacing-px {
  letter-spacing: 1px;
}
