.body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.alert{
  text-align: center;
}

a {
  color: #8fa5ec;
  text-decoration: none;
}
.container-login {
  width: 1000px;
  height: 530px;
  max-height: 90vh;
  box-shadow: 5px 5px 30px var(--grey);
  border-radius: 20px;
  overflow: auto;
  transition: 0.3s;
}

.container-register {
  width: 1000px;
  height: auto;
  max-height: 90vh;
  box-shadow: 5px 5px 30px var(--grey);
  border-radius: 20px;
  overflow: auto;
  transition: 0.3s;
  position: relative;
}

.container-login > img {
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  width: 550px;
  height: 500px;
}

.container-register > img {
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  width: 550px;
  height: 500px;
  right: 0;
}

.login {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.login > img {
  height: 290px;
  margin: 80px 40px auto 0;
}

form {
  letter-spacing: 1px;
  min-height: 525px;
  max-width: 450px;
  width: 45vw;
}

form > img {
  width: 110px;
  margin-top: 10px;
}

.register-img {
  float: right;
}

.form-group {
  border-bottom: solid 1px var(--light-grey);
  position: relative;
  margin-bottom: 25px;
  transition: border-color .25s ease;
  /* padding: 5px 0; */
}

.form-group > i {
  font-size: 13px;
  margin: 0 8px;
  color: var(--light-grey);
  transition: color .25s ease;
}

.form-group p {
  position: absolute;
  transform: translate(5px, 8px);
  text-transform: uppercase;
  color: var(--light-grey);
  font-weight: 600;
  transition: color .25s linear, transform .25s ease-out, font-size .25s ease-out;
}

.form-group input {
  position: relative;
  border: none;
  padding: 8px 5px; /* 5PX */
  background: none;
  width: 260px;
  color: var(--grey);
  font-weight: 600;
  font-size: inherit;
  letter-spacing: 1px;
}

.form-group input:focus {
  outline: none;
}

.form-group:has(input:focus) {
  animation: border-anim 1s ease forwards;
  background-color: #8fa5ec;
}

.title {
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 20px 0 30px 0;
}

.form-footer {
  width: 290px;
  font-size: 12px;
  letter-spacing: 0;
  margin-bottom: 25px;
}

form input[type='submit'] {
  width: 290px;
  padding: 10px 50px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: var(--main-color);
  margin-top: 10px;
  font-size: inherit;
}

@media (max-width: 1000px) {
  .container > img {
    width: 55vw;
    height: 50vw;
  }

  .login > img {
    margin-right: 4vw;
  }
}

@media (max-width: 815px) {
  .container > img {
    display: none;
  }
  .login > img {
    display: none;
  }
  .container {
    width: 450px;
  }
  .login {
    justify-content: center;
  }
  form {
    max-width: auto;
    width: auto;
  }
}

@keyframes border-anim {
  to {
    border-color: var(--main-color);
  }
}
