<html>

<head>
  <link rel="stylesheet" href="G:\user\Documents\CS50 Final\note-app\static\css\index.css">
  
</head>

<body>
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn"><img src="G:\user\Documents\CS50 Final\note-app\static\images\menu.png"> 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <option disabled>Folders</option>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><img src="G:\user\Documents\CS50 Final\note-app\static\images\plus.png"> 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">New notes</a>
        <a href="#">New folder</a>
      </div>
    </div>
    <a href="#"><img src="G:\user\Documents\CS50 Final\note-app\static\images\search.png"></a>
  </div>

  <div class="card">
      <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
  </div>
</body>

</html>