<html>

<head>
  <link rel="stylesheet" href="pagestyle.css">
  
</head>

<body>
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn"><img src=menu.png> 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <option disabled>Folders</option>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><img src=plus.png> 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">New notes</a>
        <a href="#">New folder</a>
      </div>
    </div>
    <a href="#"><img src="search.png"></a>
  </div>
</body>

</html>