{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block body %}
<div class="flex justify-center align-center body">
  <div class="container-login">
    <img class= "login-img"src="../static/images/background.png" alt="wave-backgroung">
    <div class="login flex justify-end">
      <img src="../static/images/login.svg" alt="login-image">

      <form action="" class="flex flex-column justify-center align-center" method="post" novalidate>
        {{ form.hidden_tag() }}
        <img src="../static/images/avatar.svg" alt="avatar">
        <h1 class="title">Welcome</h1>
        <div class="form-group flex align-center">
          <i class="fas fa-user-alt"></i>
          <div class="login">
            <p>{{ form.username.label }}</p>
            {{ form.username(class_="text-input login-text", id="username") }}
          </div>
        </div>
        <div class="form-group password flex align-center">
          <i class="fas fa-lock"></i>
          <div class="password">
            <p>{{ form.password.label }}</p>
            {{ form.password(class_="text-input login-text", id="password") }}
          </div>
        </div>
        <a href="forgot.html">Forgot Password</a>
        <!-- <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> -->
        <p>{{ form.submit(class_="text-input") }}</p>
        <!-- <p class="forgot" align="center"><a href="forgot.html">Forgot Password?</p> 
        <p class="forgot" align="center"><a href="signup.html">Make a New Account</p> -->
      </form>

    </div>
  </div>
</div>
<script type="text/javascript" src="../static/js/login.js"></script>
{% endblock body %}